APP_NAME=url-shortener
BASE_URL=http://localhost:8000
ENV=development

POSTGRES_USER=shortener
POSTGRES_PASSWORD=shortener_pass
POSTGRES_DB=shortener_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

RATE_LIMIT_REQUESTS=100
RATE_LIMIT_WINDOW_SECONDS=60

DEFAULT_EXPIRY_DAYS=365
CACHE_TTL_SECONDS=3600
